<h1>Blog Post</h1>

<% if user_signed_in? %>
  <%= link_to "Create a new Post", new_post_path %>
<% end %>

<% @posts.each do |post|%>
    <%=  post.title %>
    <%=  post.body %>
   <% if user_signed_in? %>
     <%= post.user.name%>
   <% end %>
<% end %>